
.landing{
    background-color:#0A1625;
    border-radius: 20px;
    color:white;
    padding-left:50px;
    padding-right:50px;
    padding-bottom:25px;
    padding-top:50px;
    font-weight: 500;
.heading{
    color: #f0f3f6;
    font-size: 1.7rem;
    font-weight: 700;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.sub-heading{
    line-height: 142%;
    color: #acd5f2;
    font-size: 1rem;
    margin: 0 auto;
    max-width: 370px;
    text-align: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: 500;
}
}
.feature-cards{
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 90px;
    margin-top: 85px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    .feature-card{
        display: grid;
        grid-template-columns: 80px auto;
        grid-gap: 40px;
    }
    .title{
        font-size: 1rem;
    }
    .description{
        color: #acd5f2;
        font-size: 0.8rem;
    }
}