$navbar-font-color-bgdark: rgba(188, 190, 220, 1);

.navbar {
  background: #2b2d42;
  color: $navbar-font-color-bgdark;
  justify-content:center;
  .wrap {
    font-size: 0.8rem;
    font-weight: 700;
    line-height:1.5;
    letter-spacing: 0.01em;
    padding: 6px;
    outline:0;
    height: 100%;
    margin-left: 50px;
    margin-right: 50px;
    max-width: 1050px;
    width: 100%;
  }
  
}

//colors
.navbar{
.navbar-brand,
.nav-link {
  color: $navbar-font-color-bgdark;
  &:link {
    color: $navbar-font-color-bgdark;
  }
  &:hover {
    color: $navbar-font-color-bgdark;
  }
  &:visited {
    color: $navbar-font-color-bgdark;
  }
  &:active {
    color: $navbar-font-color-bgdark;
  }
  .active {
    color: $navbar-font-color-bgdark;
  }
}
}