.CustomBar{
    .title{
        padding:0;
        
    }
    .text-left{
      float:left;
      padding:0;
      text-align:left;
    }
    .text-right{
      float:right;
      padding:0;
      text-align:right;
    }
 .hero{
    font-size: 0.8rem;
    font-weight: 600;
    margin: 0;
    outline:1px;
    padding:0;
    padding-bottom:8px;
 }
}
@media (max-width: 768px) {
    .CustomBar {
      .r{
        padding-bottom:2rem;
        .anilist-card{
            float:right;
        }

      }
      
    }
  }