.CustomBar{
    .title{
        padding-left:0;
    }
 .hero{
    font-size: 0.8rem;
    font-weight: 600;
    margin: 0;
    outline:1px;
    padding:0;
 }
}
@media (max-width: 768px) {
    .CustomBar {
      .r{
        .anilist-card{
            float:right;
        }

      }
      
    }
  }