.filter-component {
 

  .filter_search {
    .input-group {
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    }
    .input-group-prepend {
      .input-group-text {
        background-color: white;
        border: 0px;
      }
    }
    .form-control {
      background-color: white;
      border: 0px;
    }
  }

  .filter_button_lg {
    display: flex;
    justify-content: center;
    flex-direction: row;
    .dropdown {
      .dropdown-menu{
        height:auto;
        max-height:30rem;
        overflow-y:auto;
        overflow-x:hidden;
        -ms-overflow-style: none;
        scroll-behavior: smooth;
        width:100%;
        padding:0px;
      }
      // styled scrollbar 
      ::-webkit-scrollbar {
        width:0;
      }
      // when I hover on dropdown, I appear
      *:hover::-webkit-scrollbar {
        width: 0.3rem;
      }

      /* Track */
      ::-webkit-scrollbar-track {
        background: white;
      }

      /* Handle */
      ::-webkit-scrollbar-thumb {
        background:#555;
        height:5rem;
        border-radius:15px;
      }

      
      /* Handle on hover */
      ::-webkit-scrollbar-track:hover {
        background: #dbdbdb;
      }

      ::-webkit-scrollbar-thumb:hover {
        width:0.4rem;
      }
      
      button {
        width:100%;
        background-color: white;
        color: grey;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        border-color: none;
        border: 0px;
        text {
          color: red;
        }
        ::after {
          all: unset;
        }
      }
    }
    .dropdown-toggle {
      ::after {
        all: unset;
      }
    }
  }

  .filter_burger {
    background-color: white;
    color: grey;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    border-color: none;
    border: 0px;
    text {
      color: red;
    }
    ::after {
      all: unset;
    }
  }

}
