
.landing{
    background-color:#0A1625;
    border-radius: 20px;
    color:white;
    width:100%;
    padding-bottom:25px;
    padding-top:50px;
    font-weight: 500;
.heading{
    color: #f0f3f6;
    font-size: 1.7rem;
    font-weight: 700;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.sub-heading{
    line-height: 142%;
    color: #acd5f2;
    font-size: 1rem;
    margin: 0 auto;
    max-width: 370px;
    text-align: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: 500;
}

}
.feature-cards{
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 90px;
    margin-top: 85px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    .feature-card{
        padding:25px;
        display: grid;
        grid-template-columns: 80px auto;
        grid-gap: 40px;
    }
    .title{
        font-size: 1rem;
    }
    .description{
        color: #acd5f2;
        font-size: 0.8rem;
    }
}


.join-button-col{
    box-shadow: 0 2px 40px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.4s ease;
    z-index:1;
    .join-button{
        z-index:2;
        background-color:#3577FF;
        position:absolute;
        border-radius:30px;
        margin: 0 auto;
        align-items: center;
        width:20%;
        font-size: 1rem;
        font-weight: 500;
        line-height: 142%;
    }
    :hover{
        box-shadow: 0 2px 43px rgba(8, 150, 230, 0.6);
    }
}

@media only screen and (max-width: 991px) {
    .landing{
        border-radius:0px;
    }
    .landing-container{
        margin-top: 0;
    }
    .join-button{
        min-width:30%;
    }
}
